<h1>Order show page for Order#<%= @order.id %></h1>


<ul>
<div class="divider"></div>
<li> <%= @order.user.name %></li>
<li> <%= @order.user.address %></li><br>
<div class="divider"></div>

<p>Order #<%= @order.id %>
  <ul>
<% @order.items.each do |item| %>
<li><%= link_to item.name, item_path(item) %> <%= number_to_currency(item.price) %></li>
<% end %>
</ul>
</p>


<strong>Order Status:</strong>  <%= @order.status.humanize %><br>
<strong>Order Placed:</strong>  <%= (@order.created_at.to_formatted_s(:long_ordinal)) %><br>
<strong>Order Updated:</strong>  <%= (@order.updated_at.to_formatted_s(:long_ordinal)) %><br><br />
<strong>Order Total: </strong>  <%= number_to_currency(@order.total_price) %><br>
<br>


<%= button_to "Return to Dashboard", admin_dashboard_index_path, class: "btn-large black large white-text", method: "get" %>
