<h3>Order show page</h3>

<p>Order #<%= @order.id %>
  <ul>
<% @order.items.each do |item| %>
<li><%= link_to item.name, item_path(item) %> <%= number_to_currency(item.price) %></li>
<% end %>
</ul>
</p>


<strong>Order Status:</strong>  <%= @order.status.humanize %><br>
<strong>Order Placed:</strong>  <%= (@order.created_at.to_formatted_s(:long_ordinal)) %><br><br />
<strong>Order Total: </strong>  <%= number_to_currency(@order.total_price) %><br>
<br>
<%= button_to "Back to Orders", orders_path, class: "btn-large black large white-text", method: "get" %>
