<h1>Your Cart</h1>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Add</th>
      <th>Remove</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody class="table">
    <% @items.each do |item, count| %>
    <tr>
      <td><%= image_tag item.image_path, size: "50x50" %> </td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= count %></td>
      <td><%= link_to cart_add_item_path(item), method: :put, class: "waves-effect waves-light btn-small black-text" do %>
      <i class="small material-icons">add_shopping_cart</i>
      <% end %></td>
      <td><%= link_to cart_add_item_path(item), method: :delete, class: "waves-effect waves-light btn-small black-text" do %>
      <i class="material-icons">delete</i>
      <td><%= number_to_currency(Cart.subtotal(item, count)) %></td>
      <% end %></td>
    <% end %>
    </tr>
    <tr>
      <td>
        <% if current_user %>
          <%= button_to 'Checkout', orders_path %>
        <% else %>
          <%= render :partial => 'carts/carts_login_popup' %>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td class='totaltext'></td>
      <td class='totaltext'> </td>
      <td class='totaltext'> Total: </td>
      <td class='totaltext'> <%= number_to_currency(@total) %>  </td>
    </tr>
  </tbody>

<p></p><%= link_to cart_path, class: "waves-effect waves-light btn-small" do %>
<i class="material-icons">cart</i>
<% end %></p>
