<h1>All Items</h1>

<div class="row">
  <% @items.each do |item| %>
  <div class="col s12 m6 l3">
    <div class="card medium">
      <div class="card-image">
        <img src="/assets/<%=item.image_path%>">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p class="indextitle"> <%=item.name%>: <%= number_to_currency(item.price) %> </p>
        <p><%= item.description %></p>
      </div>
      <div class="card-action">
        <% if item.active %>
        <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-danger" %>
        <% else %>
        <%= button_to "Item Retired", "#", class: "btn btn-danger disabled" %>
        <% end %>
        <div class="space"></div>
        <%= button_to "View Item", item_path(item.id), class: "btn btn-danger small", method: 'get' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
