<h1>Item Show Page: <%= @item.name %></h1>


<ul>
    <p>  <%= @item.name %> </p>
    <p>  <%= @item.description %> </p>
    <p>  <%= number_to_currency(@item.price) %> </p>
    <p>  <%= @item.category.name %> </p>
    <%= image_tag @item.image_path, class: "itemimage", size: "640x480" %>
    <% if @item.active %>
    <%= button_to 'add_shopping_cart', carts_path(item_id: @item.id), class: "btn-large black large material-icons"  %>
    <% else %>
    <%= button_to "Item Retired", "#", class: "btn btn-danger disabled" %>
    <% end %>
</ul>
<% if current_admin? %>
<%= button_to "Item Index", admin_items_path, class: "btn-large black large white-text", method: "get" %>
<% else %>
<%= button_to "Item Index", items_path, class: "btn-large black large white-text", method: "get" %>
<% end %>
