<h1>Item Show Page: <%= @item.name %></h1>


<ul>
    <p>  <%= @item.name %> </p>
    <p>  <%= @item.description %> </p>
    <p>  <%= number_to_currency(@item.price) %> </p>
    <p>  <%= @item.category.name %> </p>
    <%= image_tag @item.image_path, class: "itemimage", size: "640x480" %>
    <%= button_to "Add to Cart", carts_path(item_id: @item.id), class: "btn btn-danger" %>
</ul>
