<!-- Button to open the modal login form -->
<button class="waves-effect waves-light btn white black-text" onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
    <div class="container">
      <h4> Login </h4>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Log In"%>
      <% end %>
      <br />
     <%= render :partial => 'layouts/create_account_popup' %>
    </div>
</div>
