<!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Log In"%>
      <% end %>
      <%= link_to "Create Account", new_user_path %>
    </div>
  </form>
</div>
