<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>



    <!-- Dropdown Structure -->
    <% if current_user  %>
    <ul id="dropdown1" class="dropdown-content">
      <!-- Dropdown for user -->
      <li><%= link_to 'Orders', '/orders', class: "black-text"  %></li>
      <% if current_admin? %>
      <li><%= link_to 'Dashboard', '/admin/dashboard', class: "black-text"  %></li>
      <% else %>
      <li><%= link_to 'Profile', '/dashboard', class: "black-text"  %></li>
      <% end %>
      <li><%= link_to "Logout", logout_path, method: :delete, class: "black-text" %></li>
    </ul>
      <% end %>

      <% if @cart.item_count && current_user %>
      <div class="cart-count">
        <%= @cart.item_count %>
      </div>
      <% elsif @cart.item_count %>
      <div class="cart-count cart-count-no-user">
        <%= @cart.item_count %>
      </div>
      <% end %>

    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo center">Uncle Frank's Trash Emporium</a>
        <ul class="right hide-on-med-and-down">
          <% if current_admin? %>
          <li>Logged in as: Administrator</li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
          <% elsif current_user  %>
          <li>Logged in as: <%= current_user.username %></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
          <% end %>
          <li><%= link_to cart_path, class: "waves-effect waves-light btn-small" do %>
            <i class="large material-icons">shopping_cart</i>
            <% end %></li>
        </ul>
      </div>
    </nav>
    </div>

    <ul style="width:190px; margin-top:64px;" id="slide-out" class="side-nav fixed black white-text">
      <a class=" left-padding"><%= image_tag "uncle_frank.jpg", size: "150x150", class: "shake circleimg" %> </a>
      <li>
        <h5>Categories</h5>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <div style="padding-left:20px">

        <li><%= link_to 'Bath', '/Bath', class: "white-text"  %></li>
        <li><%= link_to 'Furniture', '/Furniture', class: "white-text" %></li>
        <li><%= link_to 'Kitchen', '/Kitchen', class: "white-text"  %></li>
        <li><%= link_to 'Mattresses', '/Mattresses', class: "white-text"  %></li>
        <li><%= link_to 'Seasonal', '/Seasonal', class: "white-text"  %></li>

      </div>
      <li>
        <div class="divider"></div>
      </li>
      <br>
      <% if current_user && current_user.admin? %>
        <li>
          <h5><%= link_to "All Items", admin_items_path, class: "white-text" %></h5>
        </li>
        <li>
          <br>
        <h5>  <%= link_to "Edit My Account", edit_admin_user_path(current_user), class: "white-text" %></h5>
        </li>
      <% else %>
        <li>
          <h5><%= link_to 'All Items', items_path, class: "white-text"   %></h5>
        </li>
      <% end %>
      </ul>

      <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
      <% end %>

      <div id="main">
        <% if !current_user %>
        <div class='loginbutton'>
          <%= render :partial => 'layouts/login_popup' %>
        </div>
        <% end %>
        <%= yield %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      </div>
    </body>

  </html>

</div>
