<!DOCTYPE html>
<html>
  <head>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <ul id="dropdown1" class="dropdown-content">
      <li>User information here</li>
      <li>Login</li>
    </ul>
    <nav>
      <div class="nav-wrapper black">
        <a href="#!" class="brand-logo center small">Uncle Frank's Trash Emporium</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to cart_path, class: "waves-effect waves-light btn-small" do %>
          <i class="material-icons">shopping_cart</i>
          <% end %></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons white-text">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>

    <div id="main">
    <%= yield %>
  </div>
  </body>

</html>

</div>
