<!DOCTYPE html>
<html>
  <head>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <% if @cart.item_count %>
    <div class="cart-count"> <%= @cart.item_count %> </div>
    <% end %>

    <ul id="dropdown1" class="dropdown-content">
      <li>User information here</li>
      <li>Login</li>
    </ul>

    <nav>
      <div class="nav-wrapper black">
        <a href="#!" class="brand-logo center small">Uncle Frank's Trash Emporium</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to cart_path, class: "waves-effect waves-light btn-small" do %>
          <i class="large material-icons">shopping_cart</i>
          <% end %></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons white-text">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>

    <ul style="width:150px; margin-top:64px;" id="slide-out" class="side-nav fixed black white-text">
        <li><h5>Categories</h5></li>
        <li><div class="divider"></div></li>
        <div style="padding-left:20px">

        <li>Bath</li>
        <li>Furniture</li>
        <li>Kitchen</li>
        <li>Mattresses</li>
        <li>Seasonal</li>
      </div>
        <li><div class="divider"></div></li>
        <br>
        <div class="white-text">
        <li><h5><%= link_to 'All Items', items_path %></h5></li>
    </ul>

    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>

    <div id="main">
    <%= yield %>
  </div>
  </body>

</html>

</div>
