<!DOCTYPE html>
<html>
  <head>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="headerbar"> <a> UNCLE FRANK'S EMPORIUM </a> <a><%= link_to "Cart", cart_path %></a></div>

    <div class="dropdown userbtn">
      <button onclick="openDropdown()" class="dropbtn">
        <div class="menudiv"></div>
        <div class="menudiv"></div>
        <div class="menudiv"></div>
      </button>
      <div id="UserMenu" class="dropdown-content">
        <a href="#">Log In</a>
        <a href="#">Create Account</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a> <%= image_tag 'uncle_frank.jpg', size: '150x150', class: 'shake circleimg' %> <a/>
      <a href="#">About</a>
      <a href="#">Categories</a>
      <a href="#">All items</a>
      <a href="#">Contact</a>
    </div>

    <div class="footerbar"> <a> THIS IS A FOOTER </a> </div>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>
    <%= yield %>
  </body>

</html>

</div>
